@model Practical10A.Models.Student
@{
    //ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Display Data</title>
</head>
<body>
    <div>
        <h1>Student Details</h1>
        <p>Student ID: @Model.Id</p>
        <p>Student Name: @Model.Name</p>
        <p>Student Address: @Model.Subject</p>
        <p>Student Address: @Model.Degree</p>
    </div>
</body>
</html>